:root {
	/* define colors to be used across all pages as variables*/
	--fidiaColor: #292a73;
	--fidiaBodyColor: rgb(250 250 250);
	--fidiaColorBlue: #3a9efd;
}

#app {
	height: 100vh !important;
	max-width: 1500px !important;
	margin: auto !important;
	font-family: "Sora", sans-serif !important;
}

body {
	background: none transparent !important;
	padding-left: 0.3em;
	padding-right: 0.3em;
	font-family: "Sora", sans-serif !important;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Sora", sans-serif;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	border: 0px;
	height: 60px;
	max-width: 90%;
	transition: 0.5s linear;
	font-family: "Sora", sans-serif !important;
}

#supportB > button {
    padding: 0 24px;
	width: 100%;
    max-width: 100%;
	background: #292a73;
	font-family: "Sora", sans-serif !important;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}

button:focus {
	outline: 0px;
}

#paymentPromptsBody {
	position: absolute;
	overflow-y: scroll;
	height: 100%;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.25);
}

#paymentPromptsBody::-webkit-scrollbar {
	display: none;
}

#cancelIcon {
	width: 30px;
	height: 30px;
	background: white;
	cursor: pointer;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	cursor: pointer;
}

#cancelIcon:hover {
	opacity: 0.8;
	transition: all 0.5s linear;
}

/* Link prompt body */

#fidia-decor {
	margin-top: 36px;
}

#bgImage {
	width: 100% !important;
}

#paymentContainer {
	/* display: none; */
	width: 100%;
	height: 100%;
	padding: 2em 0px 2em 0px;
	animation: glowIn 0.5s linear;
}

@keyframes glowIn {
	from {
		opacity: 0;
	}
}

#paymentContainer > div {
	width: 90%;
	max-width: 608px;
	margin: auto;
}

#paymentBody,
#paymentErrorBody {
	width: 100%;
	min-height: 600px;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	padding: 22px 36px 28px;
}

#userProfileImage {
	height: 70px;
	width: 70px;
	border-radius: 50px;
	object-fit: cover;
}

#usersName {
	font-size: 24px;
	font-weight: 600;
}

#usersRole {
	font-size: 18px;
	color: #787676;
	font-weight: 500;
}

#usersDescription {
	font-size: 16px;
	color: #787676;
	font-weight: 400;
}

#paymentQuantity {
	height: 75px;
}

#paymentQuantity div > #item {
	width: 75px;
}

#itemBody {
	background: rgba(26, 27, 75, 0.09);
	height: 71px;
	width: 71px;
	border-radius: 10px;
	font-size: 35px;
}

.priceInfo {
	font-size: 20px;
	color: #787676;
	font-weight: 500;
}

#counterBody {
	width: 113px;
	height: 37px;
	border: 1.2px solid #787676;
	border-radius: 3.7px;
	background: #e4e3e3;
	color: #787676;
}

#counterBody > .counter {
	background: #e4e3e3;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.3em;
	opacity: 0.7;
	transition: opaciity 0.5s linear;
}

#counterBody > .counter:hover {
	opacity: 1;
}

#counterBody > .counted {
	background: white;
	border-right: 0.7px solid #787676;
	border-left: 0.7px solid #787676;
}

.inputName {
	font-size: 18px;
	font-weight: 500;
}

#supportBtn {
	cursor: pointer;
	color: #333333;
	font-size: 17px;
	font-weight: 500;
	transition: 0.5s linear;
}

#supportBtn:hover {
	opacity: 0.8;
}

#buyText {
	font-size: 24px;
	font-weight: 500;
	color: #333;
}

#buyText > span {
	color: #787676;
}

#poweredByBody {
	height: 40px;
	max-width: 200px;
	margin: auto;
	background: white;
	border-radius: 3px;
	border: 1px solid #f8f8f8;
	cursor: pointer;
}

#poweredByText {
	color: var(--fidiaColor);
	font-weight: 500;
	font-size: 16px;
}

.amountError {
	font-size: 10px;
	color: red !important;
}

/* Text Input */

.input {
	background: #fafafa;
	width: 100%;
	height: 60px;
	border: 1px solid transparent;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	padding: 1.5em;
	padding-left: 1.8em;
	outline: none;
	transition: border 0.1s linear;
	transition: 0.3s linear;
}

.input:focus {
	border: 1px solid var(--fidiaColorBlue);
}

.input::placeholder {
	color: grey;
}

textarea {
	background: #fafafa;
	width: 100%;
	height: 100px;
	border: 1px solid transparent;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Sora;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	padding: 1.5em;
	padding-left: 1.8em;
	outline: none;
	transition: border 0.1s linear;
	transition: 0.3s linear;
	resize: none;
}

textarea.large {
	height: 207px;
}

textarea:focus {
	border: 1px solid var(--fidiaColorBlue) !important;
}

textarea::placeholder {
	color: grey;
}

/* Payment confirmation prompt */

#paymentConfirmationSection {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: show 0.5s linear;
	z-index: 3;
}

@keyframes show {
	from {
		opacity: 0;
	}
}

#paymentPromptBody {
	width: 500px;
	min-height: 250px;
	background: white;
	border-radius: 10px;
	animation: scale 0.3s linear;
	transform: translateY(0px);
	transition: transform 0.5s linear;
}

.closeVerifyBvnBody {
	transform: translateY(1000px) !important;
}

#paymentHead {
	height: 60px;
}

#paymentText {
	font-size: 24px;
	font-weight: 600;
}

#closePaymentPrompt {
	font-size: 50px;
	color: #787676;
	cursor: pointer;
	font-weight: 200;
	transition: 0.5s linear;
}

#closePaymentPrompt:hover {
	color: var(--fidiaColorRed);
}

.closePaymentPromptBody {
	transform: translateY(1000px) !important;
}

.paymentDetailsBody {
	height: 40px;
	border-bottom: 1px solid #c4c4c4;
}

.paymentDetailsBody.last {
	border-bottom: none !important;
}

.paymentDetailTitle {
	font-size: 16px;
	color: #333333;
	font-weight: 500;
}

.paymentDetail {
	font-size: 16px;
	font-weight: 500;
	color: var(--fidiaColorGrey);
	text-align: right;
}

#paymentSupportText {
	color: var(--fidiaColorGrey);
	font-size: 18px;
	font-weight: 400;
}

#paymentInfoHeader {
	color: var(--fidiaColorDeep);
	font-weight: 600;
	font-size: 13px;
}

#cancelPaymentBtn {
	cursor: pointer;
	font-weight: 500;
	color: var(--fidiaColorGrey);
	font-size: 22px;
	transition: 0.5s all linear;
}

#cancelPaymentBtn:hover {
	opacity: 0.6;
	color: red;
}

.paymentBtn {
	background: var(--fidiaColor);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Sora", sans-serif;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	border: 0px;
	height: 60px;
	width: 100% !important;
	transition: 0.5s linear;
}

.paymentBtn.goHomeBtn {
    max-width: 167px;
    margin: 0 auto;
}

.paymentBtn:hover {
	cursor: pointer;
	opacity: 0.8;
}

.paymentBtn:focus {
	outline: 0px;
}

@keyframes scale {
	from {
		transform: scale(0.5);
	}
}

/* Payment status section */

#paymentStatusSection {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: show 0.5s linear;
	z-index: 3;
}

@keyframes show {
	from {
		opacity: 0;
	}
}

#paymentStatusBody {
	width: 500px;
	min-height: 275px;
	background: white;
	border-radius: 10px;
	animation: scale 0.3s linear;
	transform: translateY(0px);
	transition: transform 0.5s linear;
}

.closeVerifyBvnBody {
	transform: translateY(1000px) !important;
}

.paymentDetailsBody {
	height: 40px;
	border-bottom: 1px solid #c4c4c4;
}

.paymentDetailsBody.last {
	border-bottom: none !important;
}

.paymentDetailTitle {
	font-size: 16px;
	color: #333333;
	font-weight: 500;
}

.paymentDetail {
	font-size: 16px;
	font-weight: 500;
	color: var(--fidiaColorGrey);
	text-align: right;
}

#paymentSupportText {
	color: var(--fidiaColorGrey);
	font-size: 22px;
	font-weight: 500;
}

#paymentInfoHeader {
	color: var(--fidiaColorDeep);
	font-weight: 600;
	font-size: 13px;
}

#cancelPaymentBtn {
	cursor: pointer;
	font-weight: 500;
	color: var(--fidiaColorGrey);
	font-size: 22px;
	transition: 0.5s all linear;
}

#cancelPaymentBtn:hover {
	opacity: 0.6;
	color: red;
}

#successText {
	font-weight: 500;
	font-size: 22px;
}

#depositText {
	text-align: center;
	color: var(--fidiaColorGrey);
	font-size: 20px;
}

/* loader section */

.loader {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.loader.active {
	display: flex;
}

.loader > img {
	animation: spin 1.5s linear 0s infinite reverse;
}

.loader > img:hover {
	animation-play-state: running;
}

#widgetErrorHead {
	font-weight: 500;
	font-size: 20px;
	color: #000000;
	text-align: center;
}

#widgetErrorText {
	font-weight: 400;
	color: #787676;
	font-size: 16px;
	text-align: center;
}

.paymentType {
	display: flex;
	background-color: rgba(41, 42, 115, 0.05098);
	height: 49px;
	margin-top: 33px;
	border-radius: 49px;
	padding: 3px 5px;
}

.paymentType button {
	flex: 1;
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	font-weight: 500;
	color: var(--fidiaColor);
	transition: all 0.3s;
	border-radius: 49px;
}

.paymentType button.active {
	background-color: var(--fidiaColor);
	color: white;
}

.errorMessage {
    color: #EB5757;
}

.recurringPaymentReminder {
    color: #787676;
    margin: 5px 15px 0;
}

.customAmount input,
.customAmount label {
    cursor: pointer;
}

#receiversInfo {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes spin {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes scale {
	from {
		transform: scale(0.5);
	}
}

@media screen and (min-width: 768px) {
    #receiversInfo {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
    }

    #receiversInfo.paylink {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 770px) {
	#paymentConfirmationSection {
		padding-left: 0px;
	}

	#paymentPromptBody {
		width: 80%;
	}

	#paymentStatusSection {
		padding-left: 0px;
	}

	#paymentStatusBody {
		width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	#paymentContainer {
		padding: 0px 0px 0px 0px !important;
		overflow-y: scroll;
		position: fixed;
		top: 0px;
		bottom: 0px;
		right: 0px;
		left: 0px;
	}

	#paymentContainer > div {
		width: 100%;
	}

	#paymentBodyContainer {
		background: white;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		padding-bottom: 20px;
	}

	#paymentBody,
	#paymentErrorBody {
		border-radius: none !important;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: none;
        padding: 24px 15px;
	}

	#paymentQuantity div > #item {
		width: 45px;
	}

	.priceInfo:nth-child(1) {
		padding-top: 10px;
	}

	.priceInfo {
		font-size: 18px;
	}

	#paymentConfirmationSection {
		padding-left: 0px;
		padding-top: 10em;
	}

	#paymentPromptBody {
		width: 100%;
		max-height: 80%;
		position: absolute;
		bottom: 0px;
		min-height: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	#paymentSupportText {
		font-size: 19px;
	}

	#paymentStatusSection {
		padding-left: 0px;
		padding-top: 10em;
	}

	#paymentStatusBody {
		width: 100%;
		max-height: 80%;
		position: absolute;
		bottom: 0px;
		min-height: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	#paymentSupportText {
		font-size: 19px;
	}

	textArea {
		padding: 1em !important;
	}

	textarea.large {
		height: 197px;
	}

	.paymentType button {
		font-size: 16px;
	}
}
